/.idea
/.vscode
/.conf
/node_modules
/vendor
.env
.env.*
!.env.example
*.cache
*.zip
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.phpstorm.meta.php
_ide_helper.php
.DS_Store
/tests/Browser/screenshots/*
!/tests/Browser/screenshots/.gitkeep
/tests/Browser/console/*
!/tests/Browser/console/.gitkeep
/storage/*.key
/storage/debugbar
/storage/tmp
/storage/media-library
/public/hot
/public/storage
bootstrap/cache/*
